<div class="row">
  <div class="col m8 offset-m2">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">To: <%= message.recipient.name %></span>
        <p><%= message.short_content %></p>
      </div>
      <div class="card-action blue darken-2">
        <%= link_to 'Detail', detail_message_path(message) %>
      </div>
    </div>
  </div>
</div>