<div class="row" style="margin-top: 16px">
  <div class="col m8 offset-m2">
    <h3>Login</h3>

    <%= form_tag sessions_path, class: 'input-form' do %>
        <div class="input-field">
          <input id="email" name="email" type="text" value="<%= params[:email] %>">
          <label for="email" id="label-input">Email</label>
        </div>

        <div class="input-field">
          <input id="password" name="password" type="password">
          <label for="password" id="label-input">Password</label>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">
          Login
        </button>
    <% end %>
  </div>
</div>