<nav>
  <div class="nav-wrapper">
    <%= link_to 'Snappy Chat', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a>Menu</a>
      </li>
    </ul>
  </div>
</nav>