<div class="row">
  <div class="col m8 offset-m2">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= user.name %></span>
        <p><%= user.description %></p>
      </div>
      <div class="card-action blue darken-2">
        <a href="#" style="color: white">add user to friends list</a>
      </div>
    </div>
  </div>
</div>