<div class="card blue darken-1" id="user-<%= user.id %>">
  <div class="card-content white-text">
    <span class="card-title"><%= user.name %></span>
    <p><%= user.description %></p>
  </div>
  <div class="card-action blue darken-2">
    <%= link_to 'Add user to friends list', relations_path(id: user.id), method: :post, remote: true %>
  </div>
</div>