<h3>All Messages</h3>
<% @messages.each do |message| %>
    <div class="row">
      <div class="card blue darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= message.recipient.name %></span>
          <p><%= message.content %></p>
        </div>
        <div class="card-action blue darken-2">
          <a href="#" style="color: white">This is a link</a>
          <a href="#" style="color: white">This is a link</a>
          <a href="#" style="color: white">This is a link</a>
        </div>
      </div>
    </div>
<% end %>